@import url('https://fonts.googleapis.com/css2?family=Orbitron&family=Redressed&family=Titillium+Web:wght@300&display=swap');

*:focus {
  outline: none;
}

:root {
  --cyberpunkFont: 'Orbitron', sans-serif;
  --baseFontColor: chartreuse;
  --overImageBackgroundColor: rgba(0,0,0,0.6);
  --formTextColor: #ddd;
  --formInputsColor: #999;
  --formBackgroundColor: black;
  --formInputsBackgroundColor: #080808;
}

body {
  margin: 0;
  overflow: hidden;
  font-family: var(--cyberpunkFont);
}

.container {
  display: flex;
  height: 100vh;
  width: 100vw;
}

.img-container {
  overflow: hidden;
  flex: 3;
  display: flex;
  justify-content: center;
  position: relative;
}

.form-container {
  flex: 5;
  display: flex;
  flex-direction: column;
}

.background-img {
  height: 100%;
}

.banner-background {
  margin-top: 50vh;
  padding: 20px;
  width: 100%;
  background-color: var(--overImageBackgroundColor);
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo-img {
  height: 6rem;
  margin-right: 0.5rem;
}

.banner-txt {
  font-size: 3rem;
  color: var(--baseFontColor);
}

.credits-container {
  width: 100%;
  background-color: var(--overImageBackgroundColor);
  position: absolute;
  bottom: 0;
  padding: 0.5rem;
  display: flex;
  justify-content: space-around;
}

.credits-container > span > a {
  color: var(--baseFontColor);
  opacity: 0.6;
  text-decoration: none;
}

.form-top {
  flex: 1;
  background-color: var(--formBackgroundColor);
  color: var(--formTextColor);
  font-size: 1.2rem;
  padding-left: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.form-middle {
  background-color: var(--formInputsBackgroundColor);
  flex: 1;
  color: var(--formInputsColor);
  font-family: monospace;
  display: flex;
  flex-direction: column;
}

.form-bottom {
  flex: 1;
  background-color: var(--formBackgroundColor);
  color: var(--formTextColor);
  padding-left: 40px;
  font-size: 1.2rem;
}

.alert {
  color: red;
  font-weight: 900;
}

.italic {
  font-style: italic;
  font-weight: 900;
}

.form-row {
  flex: 1;
  display: flex;
}

.form-row > p {
  padding-left: 40px;
  font-size: 1.2rem;
  color: var(--formTextColor);
  font-family: var(--cyberpunkFont);
}

.form-cell {
  flex: 1;
  display: flex;
  flex-direction: column;
  padding: 0px 80px 0px 40px;
}

input {
  min-width: 80%;
  border: 2px solid var(--formInputsColor);
  border-radius: 6px;
  height: 1.6rem;
  background-color: var(--formInputsBackgroundColor);
  color: var(--baseFontColor);
  padding-left: 10px;
  font-family: monospace;
  font-size: 1.1rem;
}

input:focus {
  border: 2px solid white;
}

label {
  margin: 0px 0px 2px 10px;
}

.required, .log-in {
  color: var(--baseFontColor);
  font-weight: 900;
  text-decoration: none;
}

#submit-button {
  font-family: var(--cyberpunkFont);
  font-size: 1.2rem;
  font-weight: 900;
  color: var(--baseFontColor);
  background-color: var(--formBackgroundColor);
  border: 2px solid var(--baseFontColor);
  border-radius: 6px;
  padding: 8px 16px;
}

#submit-button:focus, #submit-button:hover {
  color: var(--formBackgroundColor);
  background-color: var(--baseFontColor);
}

.msg {
  padding-left: 10px;
}